@import url(./variables.css);

.sign-up-body {
    font-family: "Inter", sans-serif;
  }

.sign-up-container::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sign-up-container {
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
}

.sign-up-container h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
}

.sign-up-container h3 {
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
