/* Orange labels */
.label-orange {
    background-color: #FEF6EE;
    color: #B42318;
    border:1px solid #F9DBAF;
}

/* Gray labels */
.label-gray {
    background-color: #F9FAFB;
    color: #475467;
    border: 1px solid #EAECF0;
}

/* Purple(Brand) labels */
.label-brand {
    background-color: #F9F5FF;
    color: #7F56D9;
    border: 1px solid #E9D7FE;
}

/* Green(Success) labels */
.label-success {
    background-color: #ECFDF3;
    color: green;
    border: 1px solid #ABEFC6;
}