:root {
    --main-text-color: #344054; 
    --second-text-color: #667085; 
    --third-text-color: #475467;
    --main-purple: #7f56d9; 
    --light-gray: #EAECF0;
    --light-border-color: #D0D5DD;
    --border-error-solid: #D92D20;
}