/* Coloured dot inside variation B labels */
.dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-right: 4px;
}

/* 'seen' labels */
.seen {
    background-color: #344054;
}

/* 'waiting' labels */
.waiting {
    background-color: #D92D20;
}

/* 'new' labels */
.new {
    background-color: orange;
}