:root {
  --main-text-color: #344054;
  --second-text-color: #667085;
  --third-text-color: #475467;
  --main-purple: #7f56d9;
  --light-gray: #eaecf0;
  --light-border-color: #d0d5dd;
  --border-error-solid: #d92d20;
}
