.wrapper {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.progressContainer {
    display: inline-block;
    width: 283px;
    height: 8px;
    border-radius: 4px;
    margin-right: 15px;
    background-color: #EAECF0;
}

.progress {
    display: block;
    height: 8px;
    border-radius: 4px;
    background-color: #7F56D9;
}