.font-semibold {
  font-size: 13px;
  font-weight: 600;
  color:'#7F56D9';
  margin-bottom: 5px;
}


.font-semibold-sidebar {
  font-size: 20px;
  font-weight: 700;
}

.font-regular {
  font-size: 13px;
  color:'#7F56D9';
}