.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-semibold {
  font-size: 13px;
  font-weight: 600;
  color:'#7F56D9';
  margin-bottom: 5px;
}


.font-semibold-sidebar {
  font-size: 20px;
  font-weight: 700;
}

.font-regular {
  font-size: 13px;
  color:'#7F56D9';
}

/* Hide the default file input */
.hidden-input {
  display: none;
}

/* Style the custom upload button */
.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}